#ball {
    position: relative;
    left: 0px;
}

.rotateR {
    animation: rotateRight 1s infinite linear;
}
.rotateL {
    animation: rotateLeft 1s infinite linear;
}

@keyframes rotateRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateLeft {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}