.suggestion {
    padding-left: 4px;
    padding-right: 4px;
}

.suggestion:hover {
    background-color: #adf;
    cursor: pointer;
}

#suggestions {
    position: absolute;
    border: 1px solid black;
    left: 155px;
}